.card {
    background-color: #ecba22;
    border: 0px solid #ecba22;
    box-shadow: 0px 2px 5px 1px #e2dede;
}
.card-header {
    background-color: #6f6c64;
    border-bottom: 1px solid #6f6c64;
}
.card-footer {
    background-color: #fbfbfb;
    border-top: 1px solid #fbfbfb;
}
.card-header p {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
}
.card img {
    clip-path: polygon(0% 0%, 100% 0%, 100% 74%, 95% 95%, 48% 100%, 0 100%);
}
.card svg {
    color: #ecba22;
}
.btn {
    width: 150px;
    color: #fff;
    background-color: #6f6c64;
    border-color: #6f6c64;
    font-weight: 600;
}
.btn:hover {
    background-color: #ecba22;
    border-color: #ecba22;
}